<style type="text/css">
<!--
 .tab01 { margin-left: 40px; }
-->
</style>
<% title(_('What is SafePass')) %>
<h4 class='border-bottom my-3 py-3'><%= _('About SafePass') %></h4>

<div class="row">
    <div class="col-8">
        <p>
            <%= _('SafePass is an application to communicate passwords or any other sensitive information over the web. It generates links that expire after a certain number of views or time has passed.') %>
        </p>
        <p>
            <%= _('One of our core values at Fisheye is sharing our knowledge. So often we see people sending passwords using insecure methods, we decided it was about time to come up with a FREE service that’s available to EVERYONE, and that would allow users to share secrets easily and in a secure way.') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('Wait up, is it FREE?') %></h5>

        <p>
            <%= _('Yes, SafePass is free and available to everyone at') %>
            <a href="https://www.safepass.nz" target="_blank">www.safepass.nz</a>
        </p>

        <p>
            <%= _('We take cybersecurity very seriously and believe firmly that user mistakes are the most common cause of attacks, so we wanted to make sure there are no excuses on why anyone should keep sending sensitive data insecurely after hearing about SafePass.') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('Is it only for passwords?') %></h5>

        <p>
            <%= _('Absolutely not, but of course passwords are the first thing that comes to mind when thinking about sensitive data. You can use SafePass to securely share other things like credit card details, your super-safe-vault’s combination, or a love message to your significant other.') %>
        </p>
        <p>
            <%= _('In fact, we’re keen to hear what other people might be finding it useful for so feel free to share your ideas at ') %>
            <a href="mailto:info@fisheye.co.nz" target="_blank">info@fisheye.co.nz</a>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('I’m not Fisheye’s client, can I use it anyway?') %></h5>

        <p>
            <%= _('Yes, SafePass is FREE (have we already said that?) and available to EVERYONE. Not only we encourage you to use it… we’d also appreciate if you spread the word and tell your colleagues, friends and family how SafePass has entirely changed your life and how much better you’re sleeping at night since you started using it!') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('Wow, you guys at Fisheye are awesome!!') %></h5>

        <p>
          <%= _('We do our best to keep our clients and the community safe and secure, but we’re not reinventing the wheel here. SafePass is powered by pwpush, a free open source project written by Peter Giacomo Lombardo.') %>
        </p>

        <p>
            <%= _('You can find more information on ') %>
            <a href="https://github.com/pglombardo/PasswordPusher" target="_blank">Github</a>
            <%= _('and the original project is hosted openly and free for use at ') %>
            <a href="https://pwpush.com" target="_blank">pwpush.com</a>
        </p>
        <p>
          <%= _('If you’re interested in finding out more about why you should be using SafePass instead of other methods to send sensitive information, you can continue to read below, otherwise just tell your friends and family how great SafePass is, and please make sure to not send another password using email ever again!') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('Why SafePass?') %></h5>

        <p>
          <%= _('Whenever you have to send something confidential to a colleague or friend, you don’t want that information to persist indefinitely. Depending on how you choose to transmit that information, it could potentially sit around forever and be exploited by others long after you’ve forgotten what you’ve sent.') %>
        </p>

        <p>
          <%= _('Most people immediately think of email or one of the many chat systems as a method for sending information. Email has some inherent security drawbacks, some of which are not that evident:') %>
        </p>

        <p class='tab01'>
          <%= _('1. Email is inherently insecure and can be intercepted at multiple points of delivery by malicious entitities.') %>
        </p>

        <p class='tab01'>
          <%= _('2.	Emailed passwords are usually sent with context to what they go to which is equivalent to a free tip to any malicious entities.') %>
        </p>

        <p class='tab01'>
          <%= _('3.	The email addresses and headers can give a clue to what the password may go to (such as company or corporation).') %>
        </p>

        <p class='tab01'>
          <%= _('4.	Emailed passwords live in perpetuity (read: forever) in email archives.') %>
        </p>

        <p class='tab01'>
          <%= _('5.	Passwords in email can be retrieved and used months or years later if an email account is eventually compromised.') %>
        </p>

        <p class='tab01'>
          <%= _('6.	After an email is sent, you have zero control on the where, when and how long that email will exist for.') %>
        </p>

        <p>
          <%= _('As for chat systems, some are more secure than others, but regardless, all of them have some drawbacks as well:') %>
        </p>

        <p class='tab01'>
          <%= _('1.	A compromised account can access sensitive information posted months or years ago') %>
        </p>

        <p class='tab01'>
          <%= _('2.	Companies and organizations are often required by law to maintain chat logs for some period of time.') %>
        </p>

        <p class='tab01'>
          <%= _('3.	Chat systems leave a local cache on devices that can often be accesses outside of the chat software.') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('What Would Be The Best Case Scenario?') %></h5>

        <p>
          <%= _('So given all of the complexities and drawbacks above, what would be the ideal solution?') %>
        </p>

        <p>
          <%= _('The best case scenario for transmitting a secure password would have the following features:') %>
        </p>

        <p class='tab01'>
          <%= _('1.	The location of the password would be secret and known only to you and whom you communicate it to.') %>
        </p>

        <p class='tab01'>
          <%= _('2.	The password would be stored encrypted and if transmitted, over an encrypted line (HTTPS).') %>
        </p>

        <p class='tab01'>
          <%= _('3.	If left untouched, the password would automatically expire and delete itself after a number of views or days has passed.') %>
        </p>

        <p class='tab01'>
          <%= _('4.	The end user can delete the password as acknowledgement once they successfully retrieve it.') %>
        </p>

        <p class='tab01'>
          <%= _('5.	You could manually delete the password entirely yourself at anytime.') %>
        </p>

        <h5 class='border-bottom my-3 py-3'><%= _('SafePass') %></h5>

        <p>
          <%= _('SafePass comes as a solution to the sharing of credentials issue, and we’re confident it’s the best solution to communicate passwords securely.') %>
        </p>

        <p>
          <%= _('With SafePass, the password is stored at a secret URL which then expires after a certain number of views or days (whichever occurs first).') %>
        </p>

        <p>
          <%= _('Here are some of the highlights:') %>
        </p>

        <p class='tab01'>
          <%= _('1.	Passwords expire after a number of views or days') %>
        </p>

        <p class='tab01'>
          <%= _('2.	Pushed passwords are stored encrypted') %>
        </p>

        <p class='tab01'>
          <%= _('3.	Location of the password is secret and known only to you and who you communicate it to.') %>
        </p>

        <p class='tab01'>
          <%= _('4.	The end user can delete the password as acknowledgement once they successfully receive it.') %>
        </p>

        <p class='tab01'>
          <%= _('5.	Optional 1-click preliminary retrieval step to avoid URL scanners') %>
        </p>

        <p>
          <%= _('Hopefully all of the above is enough for anyone reading it to stop using insecure methods to send credentials over the internet...') %>
        </p>

        <p class='mt-3'><%= _('Thank you for using SafePass and spreading the word!') %></p>

    </div>
</div>
